.table-container
  .stylish-form.signup
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "flash #{name}"
    = form_tag users_path do
      .field.first-name
        = text_field_tag :first_name, params[:first_name], placeholder: 'First name'
      .field.last-name
        = text_field_tag :last_name, params[:last_name], placeholder: 'Last name'
      .field
        = text_field_tag :email, params[:email], placeholder: 'Email'
      .field
        = password_field_tag :password, '', placeholder: 'Password'
      .field
        = password_field_tag :password_confirmation, '', placeholder: 'Password Confirmation'
      .field.login
        = button_tag 'Sign Up'
