.table-container
  .stylish-form.signup
    - if @user.errors.any?
      .alert
        %ul
          - @user.errors.full_messages.each do |error|
            %li= error
    = form_for @user do |f|
      .field.first-name
        = f.text_field :first_name, placeholder: 'First name'
      .field.last-name
        = f.text_field :last_name, placeholder: 'Last name'
      .field
        = f.text_field :email, placeholder: 'Email'
      .field
        = f.password_field :password, placeholder: 'Password'
      .field
        = f.password_field :password_confirmation, placeholder: 'Password Confirmation'
      .field.login
        = button_tag 'Sign Up'
