.day
  %h2.date{ rel: @goal_summary.date.strftime('%m%d%Y') }= @goal_summary.date.strftime('%m-%d-%Y')
  .checkin
    = form_for @goal_summary.checkin do |f|
      = hidden_field_tag 'goal_id', @goal_summary.goal.id
      = hidden_field_tag 'truncated_date', @goal_summary.date.strftime('%m%d%Y')
      - if @goal_summary.goal.checked_in? @goal_summary.date
        = link_to 'Check Out', checkin_path(@goal_summary.todays_checkin.id), method: 'delete', rel: 'checkout'
      - else
        = f.button 'Check In', { rel: 'checkin' }
  = link_to 'Previous Day', day_before(@goal_summary.date)
  = link_to 'Next Day', day_after(@goal_summary.date) 
