.day
  %h2= @goal_summary.date.strftime('%m-%d-%Y')
  .checkin
    = form_for @goal_summary.checkin do |f|
      = hidden_field_tag 'goal_id', @goal_summary.goal.id
      = hidden_field_tag 'truncated_date', @goal_summary.date.strftime('%m%d%Y')
      - if @goal_summary.goal.checked_in? @goal_summary.date
        = f.button 'Check Out', { rel: 'checkout' }
      - else
        = f.button 'Check In', { rel: 'checkin' }
