= form_for [current_user, @goal] do |f|
  - if @goal.errors.any?
    .error_explanation
      %h2
        = pluralize @goal.errors.count, 'error'
        prohibited this goal from being saved:
      %ul
        - @goal.errors.full_messsages.each do |message|
          %li= message

  .field
    = f.text_field :name, placeholder: 'Name of Goal'
  .field
    = f.text_area :description, placeholder: 'Description'
  .field
    = f.submit 'Create Goal'
