.new-goal-form
  = form_for [current_user, @goal] do |f|
    - if @goal.errors.any?
      .alert
        %ul
          - @goal.errors.full_messages.each do |error|
            %li= error

    .field
      = f.text_field :name, placeholder: 'Name of Goal'
    .field
      = f.text_area :description, placeholder: 'Description'
    .field
      %h2 Cheat Days
      %ul.cheat-days
        - Date::DAYNAMES.each do |day|
          - if action_name === 'edit'
            %li.day-of-week
              = check_cheat_day(day)
          - else
            %li.day-of-week
              = check_box_tag('goal[cheat_days][]', day, false, { id: day.downcase })
              %label= day
    .field
      - if action_name === 'new'
        = f.submit 'Create Goal'
      - else
        = f.submit 'Update Goal'
